    <!-- A2 - views for contact-list ejs -->
   <!-- Partials for header section -->
  <%- include('../components/header.ejs'); %>


<body>   
    <!-- Body content -->
<div class="container">
      <h1><%= title %></h1>
    <div class="row">
        <div class="col">        

        <!-- Add button navigation to Add contact page -->
        <a href="/contact-list/add" id="addButton" class="btn btn-primary mb-1"><i class="fas fa-plus-circle"></i> Add Contact</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Contact Address</th>
                        <th scope="col">Email Address</th>
                        <th></th>
                <th></th>
                    </tr>
                </thead>
                <!-- Display the list of the contact list -->
                <tbody>
                    <% for(let count=0; count < ContactList.length; count++ ) { %>
                        <tr>
                            <th scope="row">
                                <%= count +1 %>
                            </th>
                            <td>
                                <%= ContactList[count].contactName %>
                            </td>
                            <td>
                                <%= ContactList[count].contactNumber %>
                            </td>
                            <td>
                                <%= ContactList[count].emailAdd %>
                            </td>
                            <!-- Edit button navigation to edit -->
                            <td class="text-center"><a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></td>
                            <!-- Cancel button -->
                            <td class="text-center"><a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

 
 <!-- Partials for footer section -->
   <%- include('../components/footer.ejs'); %>

  <!-- Script Section -->
  <%- include('../components/script.ejs'); %>

</body>
</html>


<!-- Student: Geejay Damasco | SN: 301163720 -->
<!-- Assignment 02 - Express Portfolio Authentication -->
<!-- October 22, 2021 - Fall2021 -->

